.wrapper {
    width: 650px;
    margin: auto;

    .name {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        h3:hover {
            color: blue
        }
    }
}